RewriteEngine on
RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$
RewriteRule (.*) http://localhost:3000%{REQUEST_URI}?hashbang=%1 [P]
RewriteCond %{REQUEST_URI} /blogposts*$
RewriteRule (.*) http://localhost:2000%{REQUEST_URI} [P]
