<article>
	<header>
		<h1>What is this site all about?</h1>
	</header>

	<p>This a dummy "single page application" site setup to test Google's AJAX Crawler. It uses a Node server to serve up "HTML Snapshots" of pages when the crawler crawls through by rendering the the site page using PhantomJS. Otherwise, when browsing the site, you are browsing a regular AJAX site powere by BackboneJS.</p>

	<p>Reference: <a href="https://developers.google.com/webmasters/ajax-crawling/" target="_blank">Making AJAX Applications Crawlable</a></p>
</article>