<article>
	<header>
		<h1>Single Page Application SEO Challenge</h1>
	</header>

	<p>
		So-called "Single Page Applications" (SPAs) are becoming increasingly popular. One of the reasons for this is that it gives the user more of a seamless "desktop application" feel since the entire page never refreshes when transitioning between pages or content. This is achieved by loading and injecting content into the page using JavaScript.
	</p>

	<p>
		However, this poses a special challenge for search engines. When a crawler crawls a page, unlike a browser, it is unable to run the JavaScript required to render the content when following the different links. To tackle this challenge, Google proposed the idea of <a href="http://googlewebmastercentral.blogspot.com.au/2009/10/proposal-for-making-ajax-crawlable.html" target="_blank">escaped fragments</a>.
	</p>

	<p>
		This site was created according to the proposed specification, as a test to confirm that Google is able to index it correctly.
	</p>
</article>